/* Shared Styles */
body {
    font-family: 'Inter', sans-serif;
}

/*header styles*/
header {
    color: #f3f3f3;
    font-family: Merriweather;
    border: 0;
    margin: auto;
    border-radius: 10px;
    background-image: url("resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1320px 600px;
    padding: 50px;

}

.banner-welcome-title {
    align-items: center;
    text-align: center;
    font-size: 32px;
    padding-top: 120px;
    margin-bottom: 5px;
}

.banner-title {
    align-items: center;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 170px;
    margin-top: 0px;

}

/* Body Main Section styles */

.deals h2 {
    color: #F00;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    font-family: Inter;
    margin-top: 120px;
    margin-bottom: 45px;

}

.deals p {
    color: #F00;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: Inter;
    margin-top: 0;
    margin-bottom: 5px;
}

.deals h3 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    font-family: Inter;
    margin-top: 0;
}

.deals img {
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 120px;
}

/*party banner-section*/


.party {
    display: flex;
    gap: 70px;
    background-image: url("resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1320 x 600;
    padding: 90px 0px;
}

.party-description {
    align-items: center;
    margin-left: 160px;
    padding-top: 0px;


}

.section-title {
    color: #FFF;
    font-family: Merriweather;
    text-align: left;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7px;
}

.section-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    max-width: 680px;

}

.party a {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/*address section styles*/

.date-time {
    align-items: center;
    text-align: center;
    margin: 100px 45px 380px;
    background-color: rgb(250, 227, 227);
    padding-top: 100px;
    border: 0;
    border-radius: 10px;

}

.date-time p {
    font-size: 32px;
    font-weight: 600;
    line-height: 55px;
}

.date-time span {
    color: #F00;
}

.date-time .btn-primary {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    background: #F00;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 8px;
    margin-top: 65px;
    margin-bottom: 125px;
}

/* offer section style*/

.comming-soon {
    align-items: center;
    border: 0;
    margin: auto;
    display: flex;

}

.offer {
    margin-left: 50px;
    margin: auto;
}

.offer h3 {
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
}

.offer h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: auto;
}

.offer-details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    max-width: 400px;
    margin: auto;
}

.year-details h2 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    max-width: 280px;
    margin: auto;
}

.bordered-image {
    margin: 70px;
    margin-right: 110px;
    padding: 50px;
    border: 15px solid #F00;
    border-radius: 100%;
    margin: auto;
}


/* sale-box style section */


.sale-box h4 {
    text-align: center;
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sale-box h2 {
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}

.sale-box p {
    color: rgba(7, 2, 17, 0.60);
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    max-width: 1050px;
}


.sale-img {
    display: flex;
}

.surprise-box {
    max-width: 600px;
    background-image: url("resources/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 200px;
    background-size: 1320px 229px;
}

.discount {
    max-width: 210px;
    border: 7px solid white;
    background-image: url("resources/Rectangle\ 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top, right;
    padding: 200px;

}

/* gifts section design */



.items-sale {
    margin: auto;
    max-width: 1600px;
    border: 10px solid black;

}


.items-sale h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-left: 128px;
    padding: 40px 0px 12px 128px;
}

.items-sale h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 0px 0px 12px 128px;

}

.items-sale p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
    max-width: 890px;
    padding-left: 128px;
    padding-bottom: 40px;
}

.items {
    margin: auto;
    text-align: center;
}

.item {
    padding: 0px 25px 25px 0px;
}

/* newsletter section */


.news-letter {
    align-items: center;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 17px;
}

.news-letter img{
    padding: 140px 0px 30px 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.news-letter p {
    margin: auto;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 800px;
    text-align: center;
    margin-bottom: 22px;


}

.news-letter .email {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-size: 18px;
    border: 0;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    width: 650px;
    height: 75px;
    margin-bottom: 80px;
}

.news-letter .submit {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 250px;
    height: 75px;
    margin-bottom: 180px;

}


/* footer styles */

footer {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    background-color:#070211;
    text-align: center;
    align-items: center;
}

hr{
    border-bottom: 1px solid #FFFFFF26;
    width: 1320px;
}

.contact {
    line-height: 40px;
    text-align: left;
    display:flex;
    justify-content: space-around;
    max-width: 1600px;
    margin: auto;
}


.address {
    padding-top: 120px;
    padding-right: 140px;
    margin-bottom: 50px;
}

.phone-email {
    padding-top: 120px;    
    padding-left: 140px;
    margin-bottom: 55px;
    display: flex;
}

.phone-email img{
   text-align: center;
   padding-right: 16px;
}



.icon, .icon img{
    align-items: center;
    padding:50px 24px ;
    
}

.copyright {
    text-align: left;
    display:flex;
    justify-content: space-around;
    gap: 500px;
    max-width: 1600px;
    padding-top: 50px;
    padding-bottom: 120px;
    margin: auto;
}
